.verticalChart {
  height: 1000px;
  margin-top: 50px;
}

.secondHeaderOnTotals {
  font-size: 30px;
}

.mainSiteDetailsNavigationTotal {
  font-family: "Calibri";
  .siteDetailsNavigate {
    display: flex;
    background: #295265;
    margin: 90px 0 55px 0;
    border-radius: 5px;
    height: 55px;
    .goback,
    .siteDetails {
      font-size: 18px;
      line-height: 22px;
    }
    .goback,
    .siteDetails,
    .editDiv,
    .sitesDiv,
    .statsDiv,
    .postsPorDiv,
    .postsDiv,
    .widgetsDiv {
      color: #94d7e0;
      width: 107px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid rgba(123, 239, 255, 0.5);
      &:hover {
        cursor: pointer;
      }
    }
    .siteDetails {
      width: 115px;
    }
    .editDiv,
    .sitesDiv,
    .statsDiv,
    .postsPorDiv,
    .postsDiv,
    .widgetsDiv {
      font-size: 18px;
      line-height: 22px;
      font-weight: normal;
      width: 94px;
      img {
        margin: 0 7px 0 0;
      }
    }
    .postsPorDiv {
      width: 150px;
    }
    .postsDiv {
      width: 104px;
    }
    .widgetsDiv {
      width: 120px;
    }
    .trashDiv {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
    }
    .active {
      background: #94d7e0;
      color: #000000;
    }
  }
}

@media only screen and (max-width: 600px) {
  .mainSiteDetailsNavigationTotal {
    font-family: "Calibri";
    .siteDetailsNavigate {
      margin: 0px 0 55px 0;
      max-width: 100%;
      background: transparent;
      display: grid;
      grid-template-areas:
        "box1 box2 box3"
        "box4 box5 box6";
      grid-auto-rows: minmax(55px, auto);
      grid-auto-columns: minmax(55px, auto);
      row-gap: 5px;
      column-gap: 5px;
      div {
        background: #295265;
        border-radius: 5px;
        height: 55px;
        min-width: 100%;
        p {
          font-size: 14px;
        }
      }

      .goback {
        grid-area: box1;
      }
      .siteDetails {
        grid-area: box2;
      }
      .sitesDiv {
        grid-area: box3;
      }
      .postsPorDiv {
        grid-area: box4;
      }
      .postsDiv {
        grid-area: box5;
      }
      .widgetsDiv {
        grid-area: box6;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .mainSiteDetailsNavigationTotal {
    .siteDetailsNavigate {
      margin: 5px 0 65px 0;

      div {
        background: #295265;
        border-radius: 5px;
        height: 55px;
        max-width: 75px;
        display: flex;
        justify-content: center;
        p {
          font-size: 14px;
        }
      }
      .postsPorDiv {
        p {
          width: 60px !important;
        }
      }
    }
  }
  .linechart {
    padding: 20px 0 0 0;
  }
}
