.options {
  position: absolute;
  width: 250px;
  height: 400px;
  background: white;
  border-radius: 5px;
  border: 1px solid gray;
  top: 60px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 5px !important;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px lightgray;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
  }
  div {
    height: 30px;
    p {
      margin: 0;
      color: black;
    }
    &:hover {
      background: #d6dbdc;
      cursor: pointer;
    }
  }
  @media only screen and (max-width: 1150px) {
    z-index: 100;
    height: 400px !important;
    div {
      height: 30px !important;
      background: white;
      p {
        margin: 0;
        color: black;
      }
      &:hover {
        background: #d6dbdc;
        cursor: pointer;
      }
    }
  }
}

.mainInfoPtag {
  max-width: 100px !important;
  overflow: hidden;
}
