.mainStatsDiv {
  margin: 80px 35px;
  table {
    width: 100%;
    thead {
    }
    tbody {
      tr {
        background: rgba(171, 217, 150, 0.75);
        height: 51px;
        font-size: 15px;
        line-height: 32px;

        &.draft {
          background: #dfe094;
        }
        &.error {
          background: #e09494;
        }
        &.trash {
          background: #295265;
        }
        td {
          text-indent: 10px;
          p {
            font-weight: bold;
            display: flex;
            justify-content: space-around;
            .span2 {
              color: #896300;
              &.underskoredSpan {
                &:hover {
                  text-decoration: underline;
                  cursor: pointer;
                }
              }
            }
            .underskoredSpan {
              &:hover {
                text-decoration: underline;
                cursor: pointer;
              }
            }
          }
          .underskoredP {
            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
      }
    }
    @media only screen and (max-width: 1000px) {
      display: none;
    }
  }
  .StatsMainShortTable {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
    @media only screen and (min-width: 1000px) {
      display: none;
    }

    .mainDivShotScreenStats {
      .mainDivInOutStats {
        background: rgba(171, 217, 150, 0.75);

        &.draft {
          background: #dfe094;
        }
        &.error {
          background: #e09494;
        }
        &.trash {
          background: #295265;
        }
        .statistic {
          border-bottom: 1px solid rgba(187, 187, 187, 0.6);
          display: flex;
          div {
            flex: 1;
            p {
              text-indent: 10px;
              font-weight: bold;
              font-size: 16px;
              line-height: 37px;
            }
          }
          .valueP {
            flex: 1;
            text-align: center;
            font-size: 15px;
            line-height: 32px;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 400px) {
    margin: 80px 0;
    padding: 0 10px;
  }
}
